<!DOCTYPE html>
<html>
<head>
	<title>Thumb Rule</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="container">
		<div class="hero">
			<h1 class="name"><strong>Thumb</strong> Rule</h1>
			<span class="job-title">Trading</span>
			<span class="email">Read untill you're(sql) Ready</span>

			<h2 class="lead">Just Get this to your mind....</h2>
		</div>
	</div>

<!-- Skills and intrest section -->
	<div class="container">

		<div class="sections">
			<h2 class="section-title">DO</h2>

			<div class="list-card">
				<span class="exp">Sell</span>
				<div>
					<h3>Do sell at high</h3>
					<span>juz beleive the prediction madly…</span>
				</div>
			</div>
			
			<div class="list-card">
				<span class="exp">Chart</span>
				<div>
					<h3>Dont trade by reading chart</h3>
					<span>Just follow the prediction</span>
				</div>
			</div>	
					
			<div class="list-card">
				<span class="exp">>1.2</span>
				<div>
					<h3>dont exit too early</h3>
					<span>dont worry about negatives</span>
				</div>
			</div>


		</div>
		<div class="sections">
				<h2 class="section-title">DONT'S</h2>
				
				<div class="list-card">
					<div>
						<h3>Dont rely on your Assumptions</h3>
						<span>just do what it tells</span>
					</div>
				</div>	

				<div class="list-card">
					<div>
						<h3>Dont get biased by the noise around</h3>
						<span>better have an headset</span>
					</div>
				</div>		
		</div>
	</div>

</body>
</html>